@import "tailwindcss";

@theme {
	--color-fg: var(--color-gray-900);
	--color-bg: var(--color-gray-100);
}

@media (prefers-color-scheme: dark) {
	@theme {
		--color-fg: var(--color-gray-200);
		--color-bg: var(--color-gray-900);
	}
}
