@import "tailwindcss";

@font-face {
	font-family: "Monaspace Neon Var";
	src: url(./font/MonaspaceNeonVarVF.woff2) format("woff2-variations");
}
@font-face {
	font-family: "Atkinson Hyperlegible Next";
	font-style: italic;
	font-weight: 200 800;
	font-display: swap;
	src: url(./font/Atkinson-italic-latin-ext.woff2) format("woff2");
	/* latin-ext */
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Atkinson Hyperlegible Next";
	font-style: italic;
	font-weight: 200 800;
	font-display: swap;
	/* latin */
	src: url(./font/Atkinson-italic-latin.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Atkinson Hyperlegible Next";
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url(./font/Atkinson-latin-ext.woff2) format("woff2");
	/* latin-ext */
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Atkinson Hyperlegible Next";
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url(./font/Atkinson-latin.woff2) format("woff2");
	/* latin */
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@property --gradient-angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@keyframes rotate-conic {
	from {
		--gradient-angle: 0deg;
	}
	50% {
		--gradient-angle: 180deg;
	}
	to {
		--gradient-angle: 360deg;
	}
}

.hero-bg {
	@apply motion-safe:duration-[10s];
	animation: rotate-conic var(--tw-duration) linear infinite;
	background-image: repeating-conic-gradient(
		from var(--gradient-angle) at 30% -200% in oklab,
		var(--color-amber-900) 0%,
		var(--color-amber-800) 15%,
		var(--color-amber-500) 30%,
		var(--color-amber-800) 33%
	);
}

@theme {
	--color-fg: var(--color-stone-900);
	--color-bg: var(--color-stone-100);
	--font-mono: "Monaspace Neon Var", monospace;
	--font-sans: "Atkinson Hyperlegible Next", system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
	@theme {
		--color-fg: var(--color-stone-200);
		--color-bg: var(--color-stone-900);
	}
}
